<table class="table table-sm table table-striped categories">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Feito</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of items">
      <td scope="row">{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>
        <mat-icon class="text-success" *ngIf="i.done == true">thumb_up_alt</mat-icon>
        <mat-icon class="text-danger" *ngIf="i.done == false">thumb_down_alt</mat-icon>
      </td>
      <td>
        <button type="button" class="btn btn-info btn-sm" (click)="editar(i)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="excluir(i)">
          <mat-icon>delete_forever</mat-icon>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>