<div class="container">

  <!-- TÍTULO E BOTÃO ADICIONAR CATEGORIA -->
  <div class="topo" *ngIf="!loading">
    <h1>Categorias</h1>
  </div>
  <div class="card" *ngIf="!loading">
    <div class="card-body">

      <div class="row">
        <div class="col-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <mat-icon>home</mat-icon>
                <span> Página Inicial</span>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-4 text-right">
          <button type="button" class="btn btn-success btn-sm" (click)="adicionarCategoria()">
            <mat-icon>add_circle</mat-icon><span class="pl-1"> Adicionar Nova Categoria</span>
          </button>
        </div>
      </div>

      <!-- LISTA DE CATEGORIAS -->
      <app-categories-grid *ngIf="trouxeResultados" [listaCategorias]="categories" (excluirCategoria)="excluirCategoria($event)"
        (editarCategoria)="editarCategoria($event)">
      </app-categories-grid>

      <!-- NENHUM REGISTRO ENCONTRADO -->
      <div *ngIf="!trouxeResultados">
        <h1>Nenhum Registro Encontrado!</h1>
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="text-center loading" *ngIf="loading">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
    </div>
    <p class="text-spinner">Aguarde, Carregando...</p>
  </div>
</div>