<div class="container">

  <!-- TÍTULO E BOTÃO ADICIONAR ITENS -->
  <div class="topo" *ngIf="!loading">
    <h1>Lista</h1>
    <p class="paragrafo">Para acessar os itens, clique no nome da lista.</p>
  </div>

  <div class="card" *ngIf="!loading">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['']">
                  <mat-icon>home</mat-icon>
                  <span> Página Inicial</span>
                </a>
              </li>
              <li class="breadcrumb-item active">
                <mat-icon>list</mat-icon>
                <span> Listas</span>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-4 text-right">
          <button type="button" class="btn btn-success btn-sm" (click)="adicionarLista()">
            <mat-icon>add_circle</mat-icon><span class="pl-1">Adicionar Nova Lista</span>
          </button>
        </div>
      </div>

      <!-- LISTAS -->
      <app-categories-lists-grid *ngIf="trouxeResultados" [list]="list" (excluirLista)="excluirLista($event)"
        (editarLista)="editarLista($event)">
      </app-categories-lists-grid>

      <!-- NENHUM REGISTRO ENCONTRADO -->
      <div *ngIf="!trouxeResultados" class="text-center mt-3">
        <span>Nenhuma Lista Cadastrada!</span><br>
        <button type="button" class="btn btn-success btn-sm mt-2" (click)="adicionarLista()">
            <mat-icon>add_circle</mat-icon><span class="pl-1" class="voltar">Adicionar Nova Lista</span>
          </button>
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="text-center loading" *ngIf="loading">
      <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        </div>
        <p class="text-spinner">Aguarde, Carregando...</p>

  </div>

  <button type="button" *ngIf="!loading" class="btn btn-info btn-sm mt-4" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      <span class="voltar">Voltar</span>
  </button>
</div>